<button (click)="getPosts()">Get First 3 Posts from JsonPlaceHolder.com</button>
<button (click)="hidePosts()" style="margin-left: 5px;">Hide Posts</button>
<div *ngFor="let post of posts">
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
</div>
<hr>
<h1>menu works!</h1>
<hr/>
<div *ngIf="selectedDish">
  <img src={{selectedDish.image}} alt={{selectedDish.name}} />
  <h1>{{selectedDish.name | uppercase}}</h1>
  <p>{{selectedDish.description}}</p>
  <button [routerLink]="['/detail', selectedDish.id]">Go to Detail</button>
</div>
<!-- <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->
<hr />
<div style="display: flex;">
  <div 
    *ngFor="let dish of dishes" 
    style="border: 1px solid red; margin: 10px; padding: 10px; cursor: pointer;"
    (click)="onSelect(dish)"
  >
    <img src={{dish.image}} alt={{dish.name}} />
    <h1>{{dish.name | uppercase}}</h1>
    <p>{{dish.description}}</p>
  </div>
</div>
